    <footer class="footer">
        <ul class="footer__social-links">
            <li class="footer__social-link">
                <i class="fab fa-2x fa-facebook-square"></i>
            </li>
            <li class="footer__social-link">
                <i class="fab fa-2x fa-instagram"></i>
            </li>
            <li class="footer__social-link">
                <i class="fab fa-2x fa-twitter"></i>
            </li>
        </ul>
    </footer>

    <script src="https://kit.fontawesome.com/8f90edd687.js" crossorigin="anonymous"></script>
</body>
</html>