<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="stylesheet/style.css">
    <title>Writr</title>
</head>
<body>
    <header>
        <!-- Add hamburger button -->
        <nav class="navbar">
            <span class="navbar__brand">Writr</span>
            <ul class="navbar__links">
                <li class="navbar__link">
                    <a href="/">Accueil</a>
                </li>
                <li class="navbar__link">
                    <a href="/login">Se connecter</a>
                </li>
            </ul>
        </nav>
    </header>
